
.MainContent{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -100;
  animation-name: Main;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  
  z-index: -30;

}
.Hider{
  top: 0;
  left: 0;
  width: 100vw;
  height: 99vh;
  border-bottom: 1vh solid black;
  position: absolute;
  z-index: 1;
  animation-name: Hider;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: 30;
  background-color: black;
}
.Sign{
  width: 0vw;
  height: 0vh;
  border-radius: 2vw;
  margin-left:35vw;
  margin-top:23vh;
  position: absolute;
  background-color: black;
  animation-name: Sign;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  z-index: 50;
  
}
.Shop{
  width: 0vw;
  height: 0vh;
  color: white;
  animation-name: FontEnter;
  text-align: center;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  font-size: 0%;
  z-index: 100;
}
@keyframes Hider{
  50%{
    top: 0;
  left: 0;
    width: 100vw;
    height: 99vh;}
  100%{top: -100vh;}
}
@keyframes FontEnter{
  0%{
    width: 0%;
    height: 0%;
    margin-left:50%;
    margin-top:50%;
    
    }
   30%{
    width: 40%;
    height: 40%;
    margin-left:30%;
    margin-top:20%;
    font-size: 400%;
   }

   60%{
    width: 40%;
    height: 40%;
    margin-left:30%;
    margin-top:30%;
    font-size: 400%;
    color: white;
   }
   100%{
    width: 50%;
    height: 50%;
    margin-left:25%;
    margin-top:10%;
    font-size: 200%;
    color: white;
  }
}
@keyframes Sign {
  0%{
  width: 0vw;
  height: 0vh;
  margin-left:50vw;
  margin-top:30vh;
  }
 30%{
  width: 30vw;
  height: 17vh;
  margin-left:35vw;
  margin-top:23vh;
 }
 60%{
  width: 30vw;
  height: 17vh;
  margin-left:35vw;
  margin-top:23vh;
 }
 100%{
  width: 15vw;
  height: 8.5vh;
  margin-left:45vw;
  margin-top:3vh;
 }
}
