.Header{
    
    width: 100%;
    height: 12%;
}
.HeadSign{
    width: 20vw;
    height: 7vh;
    border-top: 3% solid black;
    border-radius: 10vh;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 3vh;
    font-family: Georgia, serif;
    
}
.Tshirt{
    border-top: 3% solid black;
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 10%;
    margin-top: 5%;
    width: 20%;
    height: 50%;
    margin-left: 3%;
    font-size: 3vh;
    font-family: Georgia, serif;
}
.Jeans{
    margin-left: 24%;
    margin-top: -6.3%;
}